body {
  padding-top: 50px;
  padding-bottom: 40px;
}

/* Barra de navegação superior */
nav.navbar {
  margin-bottom: 0;
}

a.navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
}

a.navbar-brand img {
  height: 40px;
}

#navbar-edados .navbar-toggle .icon-bar {
  background-color: #fff;
}

#navbar-edados .navbar-toggle {
  border-color: #728396;
}

#navbar-edados,
#navbar-edados #navbar-collapse * {
  background-color: rgb(2,80,129);
  line-height: 20px;
  font: 17px Arial, Helvetica, sans-serif bold;
  font-weight: bold;
  color: #fff;
}

#navbar-edados #navbar-collapse li:hover,
#navbar-edados #navbar-collapse li:focus,
#navbar-edados #navbar-collapse li a:hover,
#navbar-edados #navbar-collapse li a:hover b.caret,
#navbar-edados #navbar-collapse li a:focus,
#navbar-edados #navbar-collapse li a:focus b.caret,
#navbar-edados #navbar-collapse li.open a.dropdown-toggle,
#navbar-edados #navbar-collapse li.open a.dropdown-toggle b.caret {
  background-color: rgb(65, 133, 175);
  color: #000;
}

.titulo-header {
  width: auto;
  padding-bottom: 0;
  padding-top: 10px;
  margin-bottom: 10px;
}

#leia_tambem {
  font-size: 0.9em;
  color: #404040;
}

#leia_tambem h1 {
  font-weight: bold;
}

.social-sharing {
  margin-left: 0;
  margin-top: 14px;
}

footer {
  font-size: 0.8em;
  color: #666;
  height: 10px;
  padding: 10px 0;
  margin-top: 15px;
  border-top: 1px #666 dotted;
  width: 100%;
  float: none;
}
footer p {
  padding-left: 5px;
  padding-right: 5px;
}

/*ESPECÍFICO DO PROJETO*/
svg {
  font: 10px sans-serif;
}

.y.axis path {
  display: none;
}

.y.axis line {
  stroke: #fff;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}

.y.axis .zero line {
  stroke: #000;
  stroke-opacity: 1;
}

.title {
  font: 300 78px Helvetica Neue;
  fill: #666;
}

.title_next,
.title_before {
  font: 300 30px Helvetica Neue;
  fill: #999;
}

.title_next.stroke-text,
.title_before.stroke-text {
  fill: #ddd;
}

.birthyear,
.age {
  text-anchor: middle;
}

.birthyear {
  fill: #fff;
}

rect {
  fill-opacity: .6;
  fill: #e377c2;
}

rect:first-child {
  fill: #1f77b4;
}

.obrigatorio {
}

.facultativo {
  fill-opacity: 0.7;
  stroke: #7D598F;
  stroke-width: 2;
}

.homens {
  color: #1f77b4;
}

.mulheres {
  color: #e377c2;
}
